body {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	color: #0CF;
	text-decoration: none;
	background-color: #666;
	list-style-position: outside;
}
.wrapper {
	width: 950px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	background-color: #FFF;
}
.wrapper {
	background-color: #6D6D6D;
	width: 950px;
	margin-top: 0px;
	margin-right: auto;
	padding-top: 0px;
	color: #FF0;
}
.navigation table tr td a {
	color: #FFF;
}
